body{
    padding: 0;

    background-color: rgb(235, 235, 235)
}

.bg1{
    padding: 100px;
    background-color: rgb(192, 166, 53)
}

.bg2{
    padding: 100px;
    background-color: rgb(120, 192, 53)
}

.bg3{
    padding: 100px;
    background-color: rgb(53, 125, 192)
}

.content{
    width: 70%;
    margin: auto;
}

.pic{
    width: 100%;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}
